{% set navLinks = [
    {url: '/', title: 'index'},
    {url: '/about', title: 'about'},
    {url: '/contacts', title: 'contacts'},
    {url: '/registration', title: 'registration'},
    {url: '/cabinet', title: 'cabinet'},
    {url: 'api/robots', title: 'robots'}
] %}

<header class="header">
    <nav class="nav">
        <ul class="nav-list">
            {% for link in navLinks %}
                <li class="nav-item">
                    <a href="{{ link.url }}" class="nav-link">{{ link.title }} page</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>