{% extends "./base/base.njk" %}
{% block body %}
    <p>Contacts</p>

    {% if name and email %}
        <p>{{name}}</p>
        <p>{{email}}</p>
    {% else %}
        <form action="/contact" method="post">
            <label>Имя</label>
            <input type="text" name="name" />
            <hr>
            <label>email</label>
            <input type="email" name="email" />
            <hr>
            <button>Отправить</button>
        </form>
    {% endif %}
{% endblock %}